<html>
    <head>
        <title>Created a Stock Item</title>
    </head>
    <body>
    <h1> Create Stock</h1>
        <form method="post" action="/stocks/create">
            <label>Date : </label>
                <input type="date" name="date" placeholder="date">
                <br>
            <label>Open Price : </label>
                <input type="text" name="open" placeholder="open price">
                <br>
            <label>High Price : </label>
                <input type="text" name="high" placeholder="high price">
                <br>
            <label>Low Price : </label>
                <input type="text" name="low" placeholder="low price">
                <br>
            <label>Close Price : </label>
                <input type="text" name="close" placeholder="close price">
                <br>
            <label>Volume : </label>
                <input type="text" name="volume" placeholder="volume">
                <br>
            <input type="submit">Submit</input>
        </form>
    </body>
</html>